.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin-right: 20px;
  }
  .shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 30px 15px;
    max-width: 1700px;
}

@media screen and (max-width: 1400px) {
  .shop-container{
    grid-template-columns: 3fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(2,1fr);
  }
  .shop-container{
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 688px) {
  .product-container {
    grid-template-columns: repeat(1,1fr);
  }
  .shop-container{
    grid-template-columns: 3fr 2fr;
  }
}