.camera-card{
    border: 1px solid rgb(248, 68, 55);
    border-radius: 35px;
    position: relative;
}
.camera-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.camera-image img{
 width: 70%;
}
.camera-model{
    margin: 0;
    font-size: 1.1rem;
    color: rgb(248, 68, 55);
}
.camera-price{
    margin-bottom: 7rem;
}
.add-cart-btn{
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    height: 57px;
    border:none;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
    background-color: rgb(255, 225, 221);
    font-size: 1.1rem;
}
.add-cart-btn:hover{
    background-color: rgb(245, 131, 122);
    font-size: 1.2rem;
    color:white; 
}
.add-cart-btn p{
    margin-right: 5px;
}